/*
  *** TODO: fill in your header ***
  INSERT YOUR NAME HERE
  INSERT THE CURRENT DATE HERE
  INSERT YOUR SECTION/TA NAME

  WRITE A 2-3 SENTENCE FILE DESCRIPTION HERE
*/

/*
  Note: This body rule set is to get you started
*/
body,
html {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	margin-top: 0px;
}

header {
	background-image: url(./resource/background.jpg);
	background-size: cover;
	padding: 2em;
	/* making bluring edge */
	box-shadow: inset 0 -2em 1.5em -0.5em white;
}

header h1 {
	color: white;
}

header p {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 20px 10%;
	font-size: 1.2rem;
	line-height: 2rem;
  text-align: justify;
  font-weight: 500;
}

section {
  margin-top: 1rem;
}

.panel {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

#classTaken {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fill, auto);
  gap: 1rem 2rem;
  padding: 1em;
  margin: 1em 5em;
}

#classTaken li {
  text-align: center;
  list-style-type: none;
  background: #8fd3fa;
  padding: 1em;
  color: white;
  border-radius: 15px;
  font-weight: 700;
  transition: background 0.3s;
}

#classTaken li:hover {
  background: #7CB4D5;

}

#favorite {
  list-style-type: upper-roman;
  line-height: 2;
}

.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.imageContainer img {
  width: 20rem;
  border-radius: 50px;
}  

img + p {
  color: gray;
  font-size: xx-small;
}


.container {
	/* very important, have to expand the container to justify/align items properly*/
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1.heroTitle {
	margin-top: 0px;
	text-align: left;
	font-size: 3em;
	font-weight: 700;
}

#name {
	color: rgb(110, 201, 253);
}

.btn {
	background-color: white;
	/* font family do not inherit in Form elements */
	font-family: inherit;
	padding: 1.5em 3em;
	color: rgb(110, 201, 253);
	font-weight: 700;
	border-radius: 10px;
	text-transform: uppercase;
	border: rgb(110, 201, 253) solid 4px;
	/* remove black border when click */
	outline: none;
	/* do not put transition in :hover, if do will make the transition not apply to unhover */
	transition: background-color 0.3s, color 0.3s;
	transition-timing-function: ease-in-out;
}

.btn:hover {
	background-color: rgb(110, 201, 253);
	color: white;
}
