/*
    Name: William Wang
    Date: April 5, 2021
    Section: CSE 154 AO
    This is the styles.css page for my portfolio of web development work. 
    It is used by all pages in my portfolio to give the site a consistent look and feel. 
*/

:root {
  --primary-color: rgb(110, 201, 253);
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.btn {
  background-color: white;
  font-family: inherit;
  padding: 1.5em 3em;
  color: var(--primary-color);
  font-weight: 700;
  border-radius: 10px;
  text-transform: uppercase;
  border: var(--primary-color) solid 4px;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  background-color: var(--primary-color);
  color: white;
}

a {
  text-decoration: none;
}

#menu-wrap {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

#menu-wrap #toggler {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 1rem;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

#menu-wrap #hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  padding: 2px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

#menu-wrap #hamburger > div {
  position: relative;
  width: 60%;
  height: 5px;
  background-color: var(--primary-color);
  transition: all 0.4s ease;
}

#menu-wrap #hamburger > div:before,
#menu-wrap #hamburger > div:after {
  content: "";
  position: absolute;
  width: 100%;
  top: -10px;
  height: 5px;
  background-color: inherit;
}

#menu-wrap #hamburger > div:after {
  top: 10px;
}

#menu-wrap #toggler:checked + #hamburger > div {
  transform: rotate(135deg);
}

#menu-wrap #toggler:checked + #hamburger > div:before,
#menu-wrap #toggler:checked + #hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

#menu-wrap #toggler:checked:hover + #hamburger > div {
  transform: rotate(225deg);
}

#menu-wrap #menu {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-wrap #menu > div {
  z-index: 100;
  background: linear-gradient(to top left, #78f6ff, #54b0f8);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

#menu-wrap #menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

#menu-wrap #menu > div > div > ul {
  padding: 0;
}

#menu-wrap #menu > div > div > ul > li {
  list-style: none;
  font-size: 2rem;
  padding: 1rem;
}

#menu-wrap #menu > div > div > ul > li > a {
  color: white;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

#menu-wrap #menu > div > div > ul > li > a:hover {
  opacity: 0.5;
}

#menu-wrap #toggler:checked ~ #menu {
  visibility: visible;
}

#menu-wrap #toggler:checked ~ #menu > div {
  transform: scale(1);
  transition-duration: 1.5s;
}

#menu-wrap #toggler:checked ~ #menu > div > div {
  opacity: 1;
  transition: opacity 2s ease;
}

#about {
  background: var(--primary-color);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#about h1 {
  color: white;
  margin-bottom: 30px;
  font-size: 36px;
}

#about p {
  width: 70%;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: justify;
  font-weight: 400;
  color: white;
  border-radius: 1px;
}

#about-container {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
}

section > h2 {
  color: #53a8da;
  margin: 10px;
}

#favorite > li > strong {
  color: #53a8da;
}

#class-taken {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fill, auto);
  gap: 1rem 3rem;
  padding: 1em;
  margin: 1em 5em;
}

#class-taken li {
  max-width: 200px;
  height: auto;
  padding: 1rem;
  text-align: center;
  list-style-type: none;
  background: #8fd3fa;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  transition: background 0.3s;
}

#class-taken li:hover {
  background: #7cb4d5;
}

#favorite {
  list-style-type: upper-roman;
  line-height: 2;
  margin: 0 50px;
}

.image-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.image-container img {
  margin: 20px;
  width: 20rem;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 4px rgb(167, 167, 167);
}

.image-container img + p {
  color: gray;
  font-size: xx-small;
}

#quote blockquote {
  background-image: linear-gradient(to top left, #78f6ff, #54b0f8);
  padding: 0.2em 0px 1em 1em;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 300;
  box-shadow: 0px 0px 5px 4px white inset;
}
