/*
    Name: William Wang
    Date: April 5, 2021
    Section: CSE 154 AO
    This is the styles.css page for my portfolio of web development work.
    It is used by all pages in my portfolio to give the site a consistent look and feel.
*/

:root {
  --primary-color: rgb(110, 201, 253);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body,
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after,
.menu-wrap .menu {
  width: 100%;
}

.main-btn {
  background-color: white;
  font-family: inherit;
  padding: 1.5em 3em;
  color: var(--primary-color);
  font-weight: 700;
  border-radius: 10px;
  text-transform: uppercase;
  border: var(--primary-color) solid 4px;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  transition-timing-function: ease-in-out;
}

.main-btn:hover {
  background: var(--primary-color);
}

.main-btn:hover,
.menu-wrap .menu > div > div > ul > li > a,
.about h1,
.about p,
.class-taken li {
  color: white;
}

a {
  text-decoration: none;
}

.menu-wrap,
.menu-wrap .menu {
  position: fixed;
}

.menu-wrap,
.menu-wrap .toggler,
.menu-wrap .hamburger,
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after,
.menu-wrap .menu {
  top: 0;
  left: 0;
}

.menu-wrap .toggler,
.menu-wrap .hamburger,
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  position: absolute;
}

.menu-wrap {
  z-index: 100;
}

.menu-wrap .toggler {
  z-index: 2;
  margin: 0.9rem;
  cursor: pointer;
  width: 61px;
  height: 61px;
}

.menu-wrap .hamburger {
  width: 60px;
  height: 60px;
  padding: 2px;
  margin: 1rem;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.contact-wrap .contact-info .info li i {
	transform: scale(2);
	margin-right: 20px;
}

.contact-wrap .contact-info .media {
	margin-top: calc(100% - 50px);
	display: flex;
	justify-content: space-between;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.contact-wrap .contact-info .media li i {
	transition: 0.4s;
}

.contact-wrap .contact-info .media li i:hover {
	opacity: 0.5;
}

.menu-wrap .menu {
  z-index: 0;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
}

.menu-wrap .menu > div {
  z-index: 99;
  background: linear-gradient(to top left, .78f6ff, .54b0f8);
  border-radius: 51%;
  width: 200vw;
  height: 200vw;
  flex: none;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  transition: opacity 0.5s ease;
}

.menu-wrap .menu > div > div,
.menu-wrap .toggler {
  opacity: 0;
}

.menu-wrap .menu > div > div > ul {
  padding-left: 0;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  font-size: 2rem;
  padding: 1.1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  opacity: 0.5;
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 1.5s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 2s ease;
}

.menu-wrap .hamburger,
.about-container,
.image-container,
.menu-wrap .menu,
.menu-wrap .menu > div,
.about {
  display: flex;
}

.about,
.about-container,
.image-container {
  flex-direction: column;
}

.about,
.menu-wrap .menu > div,
.menu-wrap .menu,
.menu-wrap .hamburger,
.image-container {
  justify-content: center;
  align-items: center;
}

.about {
  background: rgb(110, 202, 253);
  padding: 2em;
  margin-bottom: 20px;
}

.about h1 {
  margin-bottom: 30px;
  font-size: 36px;
}

.about p {
  width: 70%;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: justify;
  font-weight: 400;
  border-radius: 1px;
}

.about-container {
  margin: 0 10%;
}

section > h2 {
  color: .51a3d3;
  margin: 10px;
}

.favorite > li > strong {
  color: .53a8da;
}

.class-taken {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fill, auto);
  gap: 1rem 3rem;
  padding: 1em;
  margin: 1em 5em;
}

.class-taken li,
.menu li {
  text-align: center;
}

.class-taken li {
  max-width: 200px;
  height: auto;
  padding: 1rem;
  list-style-type: none;
  background: .8fd3fa;
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.3s;
}

.class-taken li:hover {
  background: .7cb4d5;
}

.favorite {
  list-style-type: upper-roman;
  line-height: 2;
  margin: 0 50px;
}

.image-container img {
  margin: 20px;
  width: 20rem;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 4px rgb(167, 167, 167);
}

.image-container img + p {
  color: gray;
  font-size: x-small;
}

.quote blockquote {
  background-image: linear-gradient(to top left, .78f6ff, .54b0f8);
  padding: 1.1em;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 300;
  box-shadow: 0px 0px 5px 4px white inset;
}
